<div class="card" style="width: 18rem;">
  <img class="card-img-top"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBNhx40P344RUgBUyxFwfi5UA2Fl7iZHiTZqAjR6K03AP9uWqU8Hx3UAA9pHZF7ou3vIQ&usqp=CAU"
    alt="Angular">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary" (click)="onEnroll()">Enroll</a>
  </div>
</div>