<nav
  class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-yellow-200 shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0">
    <a href="#" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">{{siteName}}</a>
  </div>
  <div>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">HOME</a>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">ABOUT</a>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">CONTACT</a>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">CART</a>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">PRODUCTS</a>
  </div>
</nav>
