/* .wrapper {
  background-color: #fce4bf;
} */

.container {
  margin: 10px 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  /* background: grey; */
}

.font-chnage {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: blueviolet;
}

.card-higlighter {
  border: blue 7px solid;
}
