<div class="wrapper">
  <!-- <app-container></app-container> -->

  <!-- Template Reference -->
  <!-- <app-demo></app-demo> -->
  <!-- <app-customer #customer></app-customer>
  {{'You have selected customer : ' + customer.selectedCustomer?.name}} -->

  <!-- @View Child -->
  <!-- <div>
    <label for="dob"> DOB: </label>
    <input type="date" name="dob" #dobInput (blur)="calculateAge()">
    <br>
    <label for="age">Age: </label>
    <input type="text" name="age" #ageInput>

  </div>
  {{demo?.sayHello()}} -->

  <!-- <app-ng-content>
    <h1 class="title btn btn-warning"> My phone Samsung</h1>
    <button class="btn btn-success"> Samsung Info</button>
  </app-ng-content>
  <app-ng-content>
    <h1 class="title btn btn-warning"> My phone Iphone</h1>
    <button class="btn btn-success"> Inphone Info</button>
  </app-ng-content> -->
  <!-- <h2>In app Component</h2>
  <app-content-chilc>
    <p #paragraph>This is my child component</p>
  </app-content-chilc> -->


  <!-- Custom Directive  -->
  <div class="container">
    <h1 class="container" setBackground appHover>Lorem ipsum dolor sit amet consectetur.
    </h1>
    <br>
    <p class="container" setBackground appHover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p>
    <p class="container" appHighlighter appHover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p>
    <p class="container" [appBetterHighlighter]="'blue'" [defaultColor]="'green'" [title]='"Test TitleDiv"'>Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p>
  </div>

</div>