<!-- <app-container></app-container> -->

<!-- Template Reference -->
<!-- <app-demo></app-demo> -->
<!-- <app-customer #customer></app-customer>
  {{'You have selected customer : ' + customer.selectedCustomer?.name}} -->

<!-- @View Child -->
<!-- <div>
    <label for="dob"> DOB: </label>
    <input type="date" name="dob" #dobInput (blur)="calculateAge()">
    <br>
    <label for="age">Age: </label>
    <input type="text" name="age" #ageInput>

  </div>
  {{demo?.sayHello()}} -->

<!-- <app-ng-content>
    <h1 class="title btn btn-warning"> My phone Samsung</h1>
    <button class="btn btn-success"> Samsung Info</button>
  </app-ng-content>
  <app-ng-content>
    <h1 class="title btn btn-warning"> My phone Iphone</h1>
    <button class="btn btn-success"> Inphone Info</button>
  </app-ng-content> -->
<!-- <h2>In app Component</h2>
  <app-content-chilc>
    <p #paragraph>This is my child component</p>
  </app-content-chilc> -->


<!-- Custom Directive  -->
<!-- <div class="container"> -->
<!-- <h1 class="container" setBackground appHover>Lorem ipsum dolor sit amet consectetur.
    </h1>
    <br>
    <p class="container" setBackground appHover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p>
    <p class="container" appHighlighter appHover>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p>
    <p class="container" [appBetterHighlighter]="'blue'" [defaultColor]="'green'" [title]='"Test TitleDiv"'>Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->
<!-- Default ng Style -->
<!-- <p class="container" [ngStyle]="{backgroundColor:'pink',color: 'white'}">Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->

<!-- Custom Ng Style  -->

<!-- <p class="container" [appStyle]="{backgroundColor: active ? 'green':'red',color: 'white'}">Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->
<!-- NgClass -->
<!-- <p [ngClass]="{'container' : true, 'font-chnage' : true}">Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->

<!-- custom NgClass -->
<!-- Scenarion 1 -->
<!-- <p appClass [display]="{'container' : true, 'font-chnage' : true}">Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->
<!-- Scenario 2 -->
<!-- <p [appClass]="{'container' : true, 'font-chnage' : true}">Lorem
      ipsum dolor sit amet,
      consectetur
      adipisicing elit. Voluptatibus,
      autem
      reprehenderit.
      Officiis adipisci
      excepturi quod iure perferendis nobis tempora soluta dolores aliquid eos.</p> -->

<!-- </div> -->
<!-- <div class="container d-flex flex-row  justify-content-center">
    <ng-container>
      <div class="card m-3" style="width: 18rem;" *ngFor="let card of cards"
        [appHighlighter2]="card.likes === mostLikes ">
        <img class=" card-img-top" [src]='card.cardImage' alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> Title : {{card.title}}</p>
          <p class="card-text"> Likes: {{card.likes }}</p>
        </div>
      </div>

    </ng-container>

  </div> -->
<!-- Default dehaviour of *ng if -->
<!-- <button class="btn btn-warning" (click)="notifyMe()"> Notify</button> -->

<!-- Creating Custom *ngIF -> *appIf structural Directive-->
<!-- <div class="container">
      <p *appIf="displayNotify">
        This is to notify you !
      </p>
    </div> -->

<!--
    <div class="container">
      <p *ngIf="displayNotify; else myVar">
        This is to notify you !
      </p>
    </div>
    <ng-template #myVar>
      <p>Random notification</p>
    </ng-template> -->

<!-- In context how anguler behaive in *ngIf-->

<!-- <div class="container">
      <ng-template [ngIf]='displayNotify' [ngIfElse]="myVar">
        <p>
          This is to notify you !
        </p>
      </ng-template>
    </div>
    <ng-template #myVar>
      <p>Random notification</p>
    </ng-template> -->


<!-- Ng Switch Case example -->
<!-- <div class="container">
      <input type="text" #inputValue>
      <button (click)="getValue(inputValue.value)">Click</button>
      <br>
      <ng-template></ng-template>
      <div [ngSwitch]="userValue" *ngIf="userValue != ''">
        <p *ngSwitchCase="'teacher'">Teacher is called</p>
        <p *ngSwitchCase="'doctor'">Doctor is called</p>
        <p *ngSwitchCase="'developer'">Developer is called</p>
        <p *ngSwitchDefault>Default is called</p>
      </div>
    </div> -->

<!-- Service Intro -->
<!-- <app-angular class="pr-6"></app-angular>
    <app-javascript></app-javascript> -->

<!-- Creating a Data Service -->
<!-- <div class="container">
  <app-add-user></app-add-user>
  <div class="user-div" *ngFor="let user of users">
    <div class="user-name">
      {{user.name}}
    </div>
    <div class="user-status">
      {{user.status}}
    </div>
  </div>
</div> -->

<!-- </div> -->

<!-- User Data Service -->
<!--
<div class="container">
  <div>
    <h2>All Users</h2>
    <app-all-users></app-all-users>
  </div>
  <div>
    <app-user-detail></app-user-detail>
  </div>
</div> -->

<div>
  <div>
    <app-comp1></app-comp1>
  </div>
  <div>
    <app-comp2></app-comp2>
  </div>


</div>