<div class="card" style="width: 18rem;">
  <img class="card-img-top"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRADP7xJFHDddM9byQpFHXngoRhgT1Qk1fZhcDO0_NdixJu7l3kiSgnwcmfViDo5hZ92m0&usqp=CAU"
    alt="Angular">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary" (click)="onEnroll()">Enroll</a>
  </div>
</div>